
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap');

*{
  box-sizing:border-box;
}
*::before,
*::after{
    box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  font-family: 'Hind', sans-serif;
  background:rgb(208, 254, 254);
  color:#3f3f3f;
  display:flex;
  min-height:100vh;
}

.container {
  margin:0;
  padding:4rem;
  width:48rem;
}
.container h2{
  border-bottom:2px solid rgb(74, 74, 74);
}

.accordion .accordion-item{
  border:1px solid #d8dede;
}
.accordion .accordion-item button[aria-expanded="true"]{
  border-bottom: 1px solid #24f6eb;
}

.accordion button{
  position:relative;
  display:block;
  text-align:left;
  width:100%;
  padding:1em 0;
  color:#464545;
  font-size:1.15rem;
  font-weight:700;
  border:none; 
  background:none;
  outline:none;
}

.accordion button:hover,
.accordion button:focus
{
 cursor:pointer;
 color: #4b4b4b;
}
.accordion button:hover::after,
.accordion button:focus::after{
  cursor:pointer;
  color:#4a4b4d;
  border:1px solid blue;
}
.accordion button .accordion-title{
  padding: 1rem 1.5rem 1rem 0;
}

.accordion button .icon{
  display:inline-block;
  position:absolute;
  top:18px;
  right:0;
  width:22px;
  height:22px;
  border:1px solid;
  border-radius:22px;
}
.accordion button .icon::before{
  display:block;
  position:absolute;
  content:'';
  top:9px;
  left:5px;
  width:10px;
  height:2px;
  background:currentColor;

}
.accordion button .icon::after{
  display:block;
  position:absolute;
  content:'';
  top:5px;
  left:9px;
  width:2px;
  height:10px;
  background:currentColor;

}
.accordion button[aria-expanded ='true']{
  color:#03b5d2;
}

.accordion button[aria-expanded ='true'] .icon::after{
  width:0;
}

.accordion button[aria-expanded ='true']  + .accordion-content{
  opacity: 1;
  max-height:9em;
  transition: all 200ms linear;
  will-change:opacity,max-height;
  
}
.accordion .accordion-content {
  opacity:0;
  max-height:0;
  overflow:hidden;
  transition: all 200ms linear ,max-height 200ms linear;
  will-change:opacity,max-height;
}

.accordion .accordion-content p{
  font-size:1rem;
  font-weight:300;
  margin: 2rem 0;
}








